# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL=postgresql://postgres:postgres@js4everdb:5432/postgres?schema=public\
JWT_SECRET=B[T@_6_-M2ux\^u),<7D9hsu99x.2-}bX_2bUXgnW?#5YT*cn$d{HjvBW^#Jfs]j
PORT_API=50001


GOOGLE_CLIENT_ID=153343762740-7avmfup7v7a8d91nma4oidj3crl9rfp0.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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


GITHUB_CLIENT_ID=3b9a9ebd5bf7532b96d9
GITHUB_CLIENT_SECRET=6d0bd3da630d6633ef2f5411b73575fa6255a66e

PORT_URL=http://27.72.29.21:50001/
FE_URL=http://localhost:3000/

# DATABASE_URL=postgresql://postgres:postgres@localhost:60001/postgres?schema=public\
# JWT_SECRET=B[T@_6_-M2ux\^u),<7D9hsu99x.2-}bX_2bUXgnW?#5YT*cn$d{HjvBW^#Jfs]j

# PORT_API=50005

# GITHUB_CLIENT_ID=81cff267ba4b34c167e1
# GITHUB_CLIENT_SECRET=aef8db8616f969ff41cfc507ac831314660ba63a

# PORT_URL=http://localhost:3000/
# FE_URL=http://localhost:3000/